{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Sterren's To-Do List</h1>
    <p class="lead">A list of stuff that Sterren needs to do.</p>
  </div>

  <div class="row">
    <a href="{{ url_for('add') }}">Add new item</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Date Changed</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for item in view_model.to_do %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.last_modified.strftime("%d/%m/%Y")}}</td>
            <td><a href="{{ url_for('edit', id=item.id) }}">Edit item</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Doing</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Date Changed</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for item in view_model.doing %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.last_modified.strftime("%d/%m/%Y")}}</td>
            <td><a href="{{ url_for('edit', id=item.id) }}">Edit item</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <a href="{{ url_for('index', show_done=(not view_model.show_all_done_items)) }}">Show/hide items done before today</a>
  <div class="row">
    <div class="col-md-12">
      <h2>Done</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Date Changed</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for item in done_items %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.last_modified.strftime("%d/%m/%Y")}}</td>
            <td><a href="{{ url_for('edit', id=item.id) }}">Edit item</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}